@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@media (max-width: 320px) {
    
}
* {
    max-width: 100vw;
    margin: auto;
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}
header{
    background-color: #FFE4C4;
    text-align: center;
    padding: 20px;
}
.photo{
    display: flex;
    flex-direction: row;
    padding: 20px 0 0;
}
.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #DEB887;
    padding: 20px 0 0;
}
.up{
    background-color: rgba(255, 228, 196, 0.5);
    width: 100%;
    text-align: center;
}
a.menu-link{
    display: block;
    font-size: large;
    color: black;
}
a{
    text-decoration: none;
    color: #FFE4C4;
}
a.footer{
    color: black;
}
a:hover{
    color: #DEB887;
}
a::after{
    color: #DEB887;
}
main{
    min-width: 5vw;
    padding: 10px 20px;
    border: 20px solid #FFE4C4;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: #FFE4C4;
}
section{
    padding: 10px;
    word-break: break-word;
}
h2, h3, h4, p{
    padding: 10px;
}
h3{
    border-bottom: 3px solid #DEB887;
}
.code{
    border: 2px solid #DEB887;
    background-color: #FFE4C4;
}
code{
    font-family: 'Courier New', Courier, monospace;
}
.logo{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}
.sign{
    padding: 20px 0;
}
.myPhoto{
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}
.by-me{
    margin-left: 10px;
}
.links{
    display: flex;
    flex-direction: row;
    margin-right: 0;
}
.link{
    padding: 0 20px;
}